In [1]:
# 引入必要套件
import pymysql

In [2]:
# 設定資料庫連線資訊
credential_dict = {
    "host": "127.0.0.1",         # 也可以輸入localhost
    "port": 3306,
    "user": "待填",
    "passwd": "待填",   # 需輸入資料庫登入密碼
    "db": "待填",              # 輸入資料庫名稱
    "charset": "utf8mb4",
}

# 字典最後可以再加一逗點，仍可以正常執行(有助git閱讀比較)

In [3]:
# 建立連線
conn = pymysql.connect(**credential_dict)

In [4]:
def test(a, b):
    print(a)
    print(b)
    
test_dict = {"a": "123", "b": "321"}

test(**test_dict)

123
321

In [5]:
# 建立游標
cursor = conn.cursor()

# Insert

In [6]:
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('001', 'Mike', '002', 45, 'M', 60000, '2020-04-24 14:59:57');
"""

cursor.execute(sql)

1

In [7]:
conn.commit()   # commit後才會顯示插入資料

In [8]:
import time
t = time.localtime()
dt = time.strftime('%Y-%m-%d %H:%M:%S', t)

# 試著再 INSERT 一筆資料
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('002', 'Judy', '002', 30, 'F', 48000, '{}');
""".format(dt)

# 將指令放進 cursor 物件，並執行
cursor.execute(sql)
conn.commit()

In [9]:
# 從資料庫將 datetime 型態的資料取出後，在 Python 中會變成 datetime 物件
# 將 datetime 物件轉為字串
data[1][6].strftime('%Y-%m-%d %H:%M:%S')

NameError: name 'data' is not defined

In [ ]:
# 試著將資料表中的資料取出
# 先寫好 SQL 語法
sql = """
SELECT * FROM Staff;
"""

# 將指令放進 cursor 物件，並執行
cursor.execute(sql)

# fetchone

In [ ]:
cursor.fetchone()

In [ ]:
cursor.fetchone()

In [ ]:
cursor.fetchone() # 執行第三次就沒資料(因為目前僅有兩筆資料)

In [ ]:
cursor.execute(sql)

# fetchall

In [ ]:
# 將查詢結果取出
data = cursor.fetchall()
data

In [ ]:
# 關閉連線
cursor.close()
conn.close()